<div class="mt-16 p-2">
  <h1 class="font-black text-6xl mt-4 mb-2 p-4">New User</h1>
  <div class="text-sm px-4 text-slate-500 mb-4">
    When you submit this form, a link will be automatically sent to them,
    or they can try and log in themselves
  </div>
  <%= render "form", user: @user, submit_button_label: 'Create and invite new user' %>
</div>
