<div class="w-full fixed bottom-0 bg-white font-bold h-12 rounded-t-md drop-shadow-lg border-t-2 border-gray-100 flex justify-center items-center">
  <%= link_to new_post_path do %>
    <i class="fa-solid fa-plus fa-xl"></i>
  <% end %>
</div>
