<% post = local_assigns[:post] %>
<div
  id="<%= dom_id post %>"
  class="bg-white w-screen pt-4 pb-8 flex flex-col justify-between border border-gray-100 rounded-md mb-4"
>
  <%= image_tag(url_for(post.photo), class: 'object-contain h-full w-full my-4') if post.photo.attached? %>
  <div class="text-gray-500 px-4 mb-4 text-xs uppercase"><%= time_ago_in_words post.created_at %> ago</div>
  <div class="px-4 mb-8"><%=post.caption %></div>
</div>
