<h1 class="text-3xl font-black m-8 text-center">Check your email inbox</h1>
<div class="flex flex-col justify-center items-center text-center mb-4">
  <i class="fa-solid fa-envelope text-4xl mb-2" style="color: #075985;"></i>
  <p class="w-96">A magic link has been sent to your email inbox</p>
</div>
<div class="flex flex-col justify-center items-center text-center mb-4">
  <i class="fa-solid fa-wand-magic-sparkles text-4xl mb-2" style="color: #075985;"></i>
  <p class="w-96">To log in, just follow that link</p>
</div>
<div class="flex flex-col justify-center items-center text-center mb-4">
  <i class="fa-solid fa-circle-question text-4xl mb-2" style="color: #075985;"></i>
  <p class="w-80 font-black text-sky-600 my-1">Having problems?</p>
  <p class="w-80"> Contact the person who invited you. Or refresh the page and try again</p>
</div>
