<div class="w-full max-w-screen-md flex flex-col justify-center items-center text-slate-700 mt-12 px-4">
  <% if flash.empty?  %>
    <%= render 'pre_submit' %>
  <% else %>
    <%= render 'post_submit' %>
  <% end %>
</div>
